:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

/* reset */
html,body {
  margin: 0 !important;
  padding: 0;
  box-sizing: border-box;
  overflow-x: clip;
  /* overflow: clip; */
}

.webgl-container {
  display: block;
  position: relative;
  width: 100vw;
  aspect-ratio: 1 / 1;

  .webgl {
    position:absolute;
    inset: 0;
    outline: none;
  }
}



/* #app {
  .webgl {
    width: 100vw !important;
    height: 100vh !important;
  }
} */